{% extends "page_layout.html" %}
{% load static %}
{% block page_content %}
    <!-- Info Modal -->
    <div class="modal fade" id="uploadInfoModal" tabindex="-1" aria-labelledby="uploadInfoModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content info-modal-content">
          <div class="modal-header border-0">
            <h5 class="modal-title">Upload finished</h5>
          </div>
          <div class="modal-body" id="upload-info-modal-text"></div>
          <div class="modal-footer border-0">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="centered-container upload-container">
        <div id="file-upload-form-wrapper">
            <div class="file-upload-wrapper" id="file-upload-wrapper">
                <label for="file-upload" class="file-upload-label">
                    <img src="{% static 'icons/upload_icon.svg' %}">
                </label>
                <input id="file-upload" class="file-upload-input" type="file">
            </div>
            <span class="d-none upload-file-name-wrapper" id="upload-file-name-wrapper"></span>
            <button id="upload-button" class="btn btn-primary w-100 disabled" onclick="uploadFile('{{ upload_url }}', '{{ csrf_token }}');">
                Upload
            </button>
        </div>
        <div class="file-upload-details-wrapper d-none" id="file-upload-details-wrapper">
            <span id="upload-file-name"></span>
            <progress id="upload-file-progress" class="upload-file-progress" max="100" value="0"></progress>
            <span class="upload-file-progress-value" id="upload-file-progress-value">0%</span>
        </div>
    </div>

<script src="{% static 'js/files_upload.js' %}"></script>
<script>
    const fileInput = document.getElementById("file-upload");
    fileInput.addEventListener("change", onFileSelected);
</script>
{% endblock %}
