{% extends "page_layout.html" %}
{% load static %}
{% block page_content %}
    <!-- Remove Modal -->
    {% include "components/modals/remove_directory_modal.html" with directory=directory %}

    <!-- Page content -->
    <div class="page-content-wrapper mb-3">
        <div class="content-wrapper">
            <h3>{{directory.name}}</h3>
            <div class="file-details-wrapper">
              <span>
                  <b>UUID:</b> {{directory.uuid}}
              </span>
              <span>
                  <b>Size:</b> {{directory.get_size_in_mb}}MB</span>
              </span>
              <span>
                  <b>Files:</b> {{directory.get_files_count}}</span>
              </span>
              <span>
                  <b>Creation date:</b> {{directory.creation_date|date:'d-m-Y G:i'}}</span>
              </span>
              <span>
                  <b>Shared to users:</b> {{directory.shared_to_users|length}}</span>
              </span>
            </div>
            <div class="file-details-controls-wrapper">
              <a class="btn btn-secondary" href="{% url 'core:directory_content' directory_uuid=directory.uuid %}" role="button" target="_blank">
                  Open
              </a>
              <button type="button" class="btn btn-danger" data-bs-target="#removeDirectoryModal" data-bs-toggle="modal">
                  Remove
              </button>
              <form method="get" action="#">
                <button type="submit" class="btn btn-primary">
                    Download
                </button>
              </form>
            </div>
        </div>
        <div class="content-wrapper">
            <button class="btn collapsible-primary-btn" type="button" data-bs-toggle="collapse"
                    data-bs-target="#update-directory-files" aria-expanded="false" aria-controls="update-directory-files">
                Update Files
                <img class="expand-icon" src="{% static 'icons/expand_icon.svg' %}">
            </button>
            <div class="collapse" id="update-directory-files">
              <div class="content-wrapper-collapse-content">
                  <form method="POST" action="{% url 'storage_manager:update_directory_files' directory_uuid=directory.uuid %}" class="px-2">
                    {% csrf_token %}
                    {{ update_files_form }}

                    <button class="accept-button btn login-button" type="submit">
                        Save
                    </button>
                  </form>
              </div>
            </div>
        </div>
        <div class="content-wrapper">
            <form method="POST" action="{% url 'storage_manager:share_directory_to_user' directory_uuid=directory.uuid %}" class="px-2 mb-3">
                {% csrf_token %}
                {{ share_to_user_form }}

                <button class="accept-button btn login-button" type="submit">
                    Add
                </button>
            </form>
            {% if directory.shared_to_users.all|length > 0 %}
                <button class="btn collapsible-primary-btn" type="button" data-bs-toggle="collapse"
                        data-bs-target="#shared-to-users" aria-expanded="false" aria-controls="shared-to-users">
                    Shared to users
                    <img class="expand-icon" src="{% static 'icons/expand_icon.svg' %}">
                </button>
                <div class="collapse" id="shared-to-users">
                  <div class="content-wrapper-collapse-content">
                      {% for user in directory.shared_to_users.all %}
                        <div class="shared-to-user-container">
                            <form class="w-100 d-flex" action="{% url 'storage_manager:remove_directory_from_shared' directory_uuid=directory.uuid %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="username" value="{{ user.username }}">

                                <span>{{ user.username }}</span>
                                <button class="btn remove-shared-user-btn" type="submit">
                                    <img class="expand-icon" src="{% static 'icons/close_icon.svg' %}">
                                </button>
                            </form>
                        </div>
                      {% endfor %}
                  </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
