{% extends "page_layout.html" %}
{% load static %}
{% block page_content %}
    <!-- Remove Modal -->
    {% include "components/modals/remove_file_modal.html" with file=file %}

    <!-- Page content -->
    <div class="page-content-wrapper mb-3">
        <div class="content-wrapper">
            <a class="file-name" data-bs-toggle="collapse" href="#changeFileNameCollapsible" role="button"
               aria-expanded="false" aria-controls="changeFileNameCollapsible">
               <h3>{{file.name}}</h3>
            </a>
            <div class="file-details-wrapper">
              <span>
                  <b>UUID:</b> {{file.uuid}}
              </span>
              <span>
                  <b>Directory:</b> <a href="{{file.get_directory_url}}">{{file.get_directory_name}}</a>
              </span>
              <span>
                  <b>Size:</b> {{file.get_file_size_in_mb}}MB
              </span>
              <span>
                  <b>Extension:</b> {{file.extension}}
              </span>
              <span>
                  <b>Upload date:</b> {{file.upload_date|date:'d-m-Y G:i'}}
              </span>
              <span>
                  <b>Accessible via link:</b> {{file.accessible_via_link}}
              </span>
            </div>
            <div class="file-details-controls-wrapper">
              {% if file.can_be_previewed %}
                  <a class="btn btn-secondary" href="{% url 'storage_manager:preview_raw' file_uuid=file.uuid %}" role="button" target="_blank">
                      Preview
                  </a>
              {% endif %}
              <form method="POST" action="{% url 'storage_manager:toggle_access_via_link' file_uuid=file.uuid %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">
                    {% if file.accessible_via_link %}
                        Disable access via link
                    {% else %}
                        Enable access via link
                    {% endif %}
                </button>
              </form>
              <button type="button" class="btn btn-danger" data-bs-target="#removeFileModal" data-bs-toggle="modal">
                  Remove
              </button>
              <form method="GET" action="{% url 'storage_manager:download_file' file_uuid=file.uuid %}">
                <button type="submit" class="btn btn-primary">
                    Download
                </button>
              </form>
            </div>
        </div>
        <div class="content-wrapper collapse" id="changeFileNameCollapsible">
            <form method="POST" action="{% url 'storage_manager:file_change_name' file_uuid=file.uuid %}" class="px-2 mb-3">
                {% csrf_token %}
                {{ change_file_name_form }}

                <button class="accept-button btn login-button" type="submit">
                    Update Name
                </button>
            </form>
        </div>
        <div class="content-wrapper">
            <form method="POST" action="{% url 'storage_manager:change_directory' file_uuid=file.uuid %}" class="px-2">
                {% csrf_token %}
                {{ change_directory_form }}

                <button class="accept-button btn login-button" type="submit">
                    Change directory
                </button>
            </form>
        </div>
    </div>
<script src="{% static 'js/files.js' %}"></script>
{% endblock %}
