{% load static %}

<div class="modal fade" id="removeDirectoryModal" tabindex="-1" aria-labelledby="removeDirectoryModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content info-modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title">{{directory.name}}</h5>
      </div>
      <div class="modal-body file-info-modal-body">
          Do you want to remove directory with all its files ?
      </div>
      <div class="modal-footer border-0">
          <form id="modal-directory-remove" method="post" action="{% url 'files_manager:remove_directory' directory_uuid=directory.uuid %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Remove</button>
          </form>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
