{% load static %}

<div class="modal fade" id="directoryInfoModal" tabindex="-1" aria-labelledby="directoryInfoModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content info-modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="modal-directory-name"></h5>
      </div>
      <div class="modal-body file-info-modal-body">
          <span>
              <b>UUID:</b> <span id="modal-directory-uuid"></span>
          </span>
          <span>
              <b>Size:</b> <span id="modal-directory-size"></span>
          </span>
          <span>
              <b>Files:</b> <span id="modal-directory-files"></span>
          </span>
          <span>
              <b>Creation date:</b> <span id="modal-directory-date"></span>
          </span>
      </div>
      <div class="modal-footer border-0">
          <a class="btn btn-secondary" href="#" role="button" id="modal-directory-preview">
              Open
          </a>

          <form id="modal-directory-download" method="get" action="">
              <button type="submit" class="btn btn-primary">Download</button>
          </form>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
