{% extends "page_layout.html" %}
{% load static %}
{% block page_content %}
    <!-- Info Directory Modal -->
    {% include "components/modals/info_directory_modal.html" %}

    <!-- Page content -->
    <div class="page-content-wrapper mb-3">
        <!-- My Directories -->
        <div class="content-wrapper">
            <h3>
                {{ title }}
            </h3>
            <div class="mb-3">
                <form action="{% url 'core:directories' %}" method="GET">
                    {% include "components/search_bar.html" with search_value=search_dir_name search_name="search_dir" search_placeholder="search directories" %}
                </form>
            </div>
            <div class="files-container my-files-container">
                {% for directory in directories_page %}
                    <div class="file-wrapper"
                         onclick="showDirectoryInfoModal('directoryInfoModal', '{{directory.name}}', '{{directory.uuid}}',
                          '{{directory.get_size_in_mb}}', '{{directory.get_files_count}}',
                          '{{directory.creation_date|date:'d-m-Y G:i'}}')">
                        <img src="{% static 'icons/folder_icon.svg' %}">
                        <span>{{ directory.name }}</span>
                    </div>
                {% endfor %}
            </div>
            {% if directories_page.has_next or directories_page.has_previous %}
                <div class="pagination-controls">
                    {% if directories_page.has_previous %}
                        <a class="pagination-controls-item" href="{% url 'core:directories' page_id=directories_page.previous_page_number %}">
                            <img src="{% static 'icons/navigate_before_icon.svg' %}">
                        </a>
                    {% endif %}
                    {% if files_page.has_next %}
                        <a class="pagination-controls-item {% if not directories_page.has_previous %} left-p-controls-item {% endif %}"
                           href="{% url 'core:directories' page_id=directories_page.next_page_number %}">
                            <img src="{% static 'icons/navigate_next_icon.svg' %}">
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
<script src="{% static 'js/directories.js' %}"></script>
{% endblock %}
