{% extends "page_layout.html" %}
{% load core_tags %}
{% load static %}
{% block page_content %}

    <!-- Info Modal -->
    {% include "components/modals/info_file_modal.html" %}

    <!-- Page content -->
    <div class="page-content-wrapper mb-3">
        <div class="content-wrapper content-wrapper-loading" id="storage-usage-data-wrapper">
            <div id="storage-usage-data" class="d-none">
                <h3>
                    Storage usage
                </h3>
                <div class="graphs-container" id="graphs-container">
                    <div id="storage-usage" class="graph-wrapper">
                        <span id="storage-used-space-value" class="storage-used-space-value"></span>
                    </div>
                    <div id="storage-usage-by-type" class="graph-wrapper"></div>
                </div>
                {% include "components/storage_details_collapsible.html" %}
            </div>
            <div class="spinner-border text-primary" id="storage-usage-data-spinner">
              <span class="visually-hidden">Loading storage usage data</span>
            </div>
        </div>
        {% if recent_files|length > 0 %}
            <div class="content-wrapper">
                <h3>
                    Recent files
                </h3>
                <div class="files-container no-gap">
                    {% for file in recent_files %}
                        <div class="recent-file"
                             onclick="showFileInfoModal('fileInfoModal', '{{file.name}}', '{{file.get_file_size_in_mb}}',
                              '{{file.extension}}', '{{file.uuid}}', '{{file.upload_date|date:'d-m-Y G:i'}}', '{{file.get_directory_name}}',
                              '{{ file.get_directory_url }}', {% can_file_be_previewed file %});">
                            <img src="{% get_icon_for_file file %}">
                            <span>{{ file.name }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <!-- My Files -->
        <div class="content-wrapper">
            <h3>
                My files
            </h3>
            <div class="mb-3">
                <form action="{% url 'core:home' %}" method="GET">
                    {% include "components/search_bar.html" with search_value=search_file_name search_name="search_file" search_placeholder="search files" %}
                </form>
            </div>

            <!-- Files Preview -->
            {% include "components/files_preview.html" %}

            {% if files_page.has_next or files_page.has_previous %}
                <div class="pagination-controls">
                    {% if files_page.has_previous %}
                        <a class="pagination-controls-item" href="{% url 'core:home' page_id=files_page.previous_page_number %}">
                            <img src="{% static 'icons/navigate_before_icon.svg' %}">
                        </a>
                    {% endif %}
                    {% if files_page.has_next %}
                        <a class="pagination-controls-item {% if not files_page.has_previous %} left-p-controls-item {% endif %}"
                           href="{% url 'core:home' page_id=files_page.next_page_number %}">
                            <img src="{% static 'icons/navigate_next_icon.svg' %}">
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
<script src="{% static 'js/files.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"
        onerror="fallbackToLocalJS(this, '{% static 'libs/chart.js' %}');">
</script>
<script src="{% static 'js/charts_utils.js' %}"></script>

<script>
    initStorageUsageStats();
</script>
{% endblock %}
